@import "tailwindcss";

@theme {
  --color-brand-50: #fff1f2;
  --color-brand-100: #ffe4e6;
  --color-brand-200: #fecdd3;
  --color-brand-300: #fda4af;
  --color-brand-400: #fb7185;
  --color-brand-500: #f43f5e;
  --color-brand-600: #e11d48;
  --color-brand-700: #be123c;
  --color-brand-800: #9f1239;
  --color-brand-900: #881337;
  --color-brand-950: #4c0519;
}

@layer base {
  body {
    @apply bg-[#050505] text-white antialiased;
  }
  
  img {
    @apply select-none;
    -webkit-user-drag: none;
    -webkit-touch-callout: none;
  }
}

@layer components {
  .glass-panel {
    @apply bg-white/[0.03] backdrop-blur-3xl border border-white/10;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #050505;
}

::-webkit-scrollbar-thumb {
  background: #1a1a1a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2a2a2a;
}
